/* 이미지 스타일 */
.info-image {
    width: 100%;
    height: auto;
}
.additional-image-4 {
    width: 15%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 84%; /* 이미지를 상단에 위치시킵니다. */
    left: 2%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
/* 추가 이미지 스타일 */
.additional-image-bandi {
    width: 12%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 19%; /* 이미지를 상단에 위치시킵니다. */
    left: 19%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-bandiname {
    width: 11%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 65%; /* 이미지를 상단에 위치시킵니다. */
    left: 20%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
  }
.additional-image-2 {
    width: 6%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 85%; /* 이미지를 상단에 위치시킵니다. */
    left: 83%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-3 {
    width: 6%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 85%; /* 이미지를 상단에 위치시킵니다. */
    left: 90%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
/* 대화그만하기 이미지 아이콘 스타일 */
.info-image-icon {
    width: 150%; /* 원하는 크기로 조절 */
    height: auto;
    position: relative;
    top: -20px; /* 이미지를 10px 위로 올립니다. */

}

/* 이미지와 텍스트 컨테이너 */
.info-content {
    position: relative; /* 상대적 위치 설정 */
}

/* 이미지 위에 나타낼 텍스트 스타일 */
.info-text-container {
    position: absolute;
    width: 60%;
    top: 45%; /* 이미지 컨테이너의 높이의 50%로 위치 조정 */
    left: 60%; /* 이미지 컨테이너의 너비의 60%로 위치 조정 */
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* 텍스트 스타일 */
.info-title {
    font-size: 40px;
    font-weight: bold;
}

.info-paragraph {
    font-size: 30px;
}
.info-paragraph-1 {
    font-size: 30px;
    color: blue;
}
/* 링크 컨테이너 스타일 */
.info-link-container {
    position: absolute;
    bottom: 10px;
    left: 10%; 
    transform: translateX(-50%);
}

/* 링크 스타일 */
.info-link {
    font-size: 40px;
    text-decoration: none;
    color: transparent;
    font-weight: bold;
    position: absolute; 
    left: 5%; 
    top: 85%;
}

@media (max-width: 768px) {
    .info-image-icon {
        width: 60%;
        position: relative;
        left: 40%; 
        top: 85%; 
    }

    .info-link {
        display: none; 
    }
    
    .info-text-container {
        font-size: 12px;
        width: 50%;
        top: 40%; 
        left: 55%;
        padding: 5px; 
    }

    
    .info-title {
        font-size: 14px; 
    }

    .info-paragraph {
        font-size: 12px; 
    }
    .info-paragraph-1 {
        font-size: 12px; 
        color: blue;
    }
    .additional-image-bandi {
        width: 20%; 
        height: auto; 
        position: absolute; 
        left: 5%; 
        top: 10%; 
        z-index: 1; 
    }
    .additional-image-2 {
        width: 6%; 
        height: auto;
        position: absolute;
        top: 65%; 
        left: 83%; 
        z-index: 1; 
    }
    .additional-image-3 {
        width: 5.7%; 
        height: auto;
        position: absolute;
        top: 65%; 
        left: 90%; 
        z-index: 1; 
    }
    .additional-image-4 {
        width: 15%; 
        height: auto;
        position: absolute;
        top: 84%; 
        left: 2%; 
        z-index: 1; 
    }
    .additional-image-bandiname {
        width: 20%; 
        height: auto; 
        position: absolute; 
        left: 6%; 
        top: 63%; 
        z-index: 1; 
    }
}
