/* 이미지 스타일 */
.info-image {
  width: 70%;
  height: auto;
  left: 15%;
  position: relative;

}

.loading-text{
  font-size: 20px;
  position: relative;
  left: 12%;
  width: 70%;
}
/* 추가 이미지 스타일 */
.additional-image-youngrae {
  width: 5.5%; /* 원하는 크기로 조절 */
  height: auto;
  position: absolute;
  top: 25%; /* 이미지를 상단에 위치시킵니다. */
  left: 22.5%; /* 이미지를 왼쪽에 위치시킵니다. */
  z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-youngname {
  width: 11%; /* 원하는 크기로 조절 */
  height: auto;
  position: absolute;
  top: 65%; /* 이미지를 상단에 위치시킵니다. */
  left: 20%; /* 이미지를 왼쪽에 위치시킵니다. */
  z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.pagination-image-2 {
  width: 8%; /* 원하는 크기로 조절하세요. */
  height: auto;
  margin: 0 10px; /* 버튼 사이의 간격을 조절하세요. */
  position: absolute;
  top: 80%;
  left: 75%;
  cursor: pointer;
}
.pagination-image-1 {
  width: 8%; /* 원하는 크기로 조절하세요. */
  height: auto;
  margin: 0 10px; /* 버튼 사이의 간격을 조절하세요. */
  position: absolute;
  top: 80%;
  left: 66%;
  cursor: pointer;
}
.additional-image-2 {
  width: 5%; /* 원하는 크기로 조절 */
  height: auto;
  position: absolute;
  top: 65%; /* 이미지를 상단에 위치시킵니다. */
  left: 71%; /* 이미지를 왼쪽에 위치시킵니다. */
  z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-3 {
  width: 5%; /* 원하는 크기로 조절 */
  height: auto;
  position: absolute;
  top: 65%; /* 이미지를 상단에 위치시킵니다. */
  left: 77%; /* 이미지를 왼쪽에 위치시킵니다. */
  z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}

.additional-image-4 {
  width: 10%; /* 원하는 크기로 조절 */
  height: auto;
  position: absolute;
  top: 84%; /* 이미지를 상단에 위치시킵니다. */
  left: 17%; /* 이미지를 왼쪽에 위치시킵니다. */
  z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
/* 대화그만하기 이미지 아이콘 스타일 */
.info-image-icon {
  width: 150%; /* 원하는 크기로 조절 */
  height: auto;
  position: relative;
  top: -20px; /* 이미지를 10px 위로 올립니다. */

}

/* 이미지와 텍스트 컨테이너 */
.info-content {
  position: relative; /* 상대적 위치 설정 */
}

/* 이미지 위에 나타낼 텍스트 스타일 */
.info-text-container {
  position: absolute;
  width: 60%;
  top: 45%; /* 이미지 컨테이너의 높이의 50%로 위치 조정 */
  left: 60%; /* 이미지 컨테이너의 너비의 60%로 위치 조정 */
  transform: translate(-50%, -50%);
  padding: 20px;
}

/* 텍스트 스타일 */
.info-title {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  width: 70%;
  left : 12%
}

.info-paragraph {
  font-size: 20px;
  position: relative;
  left: 12%;
  width: 70%;
}
.info-paragraph-1 {
  font-size: 30px;
  color: blue;
}
/* 링크 컨테이너 스타일 */
.info-link-container {
  position: absolute; /* 위치 조정을 위해 position: absolute 사용 */
  bottom: 10px; /* 링크 컨테이너의 하단에 위치 (원하는 여백을 조절하세요) */
  left: 10%; /* 왼쪽으로 10% 위치 (가운데 정렬을 위해 50%) */
  transform: translateX(-50%); /* 가로 중앙 정렬을 위해 필요 (left 값의 절반) */
}

/* 링크 스타일 */
.info-link {
  font-size: 40px;
  text-decoration: none;
  color: transparent;
  font-weight: bold;
  position: absolute; /* 위치 조정을 위해 position: absolute 사용 */
  left: 5%; /* 왼쪽으로 10% 위치 (가운데 정렬을 위해 50%) */
  top: 85%; /* 링크를 위로 10px 올립니다. */
}

/* 대화그만하기 이미지 아이콘 스타일 (모바일 버전) */
@media (max-width: 768px) {
  .info-image-icon {
      width: 60%; /* 모바일 화면에서 아이콘 크기 변경 */
      position: relative; /* 위치 조정을 위해 position: absolute 사용 */
      left: 40%; /* 오른쪽으로 5% 위치 */
      top: 85%; /* 링크를 위로 10px 올립니다. */
  }
  .info-image {
    width: 100%;
    height: auto;
    left: 1%;
    position: relative;
  
  }
  .info-link {
      display: none; /* 모바일 화면에서 링크 숨김 */
  }
  
  .info-text-container {
      font-size: 12px;
      width: 60%;
      top: 40%; /* 모바일 화면에서 텍스트 위치 변경 */
      left: 55%;
      padding: 5px; /* 모바일 화면에서 텍스트 패딩 조정 */
  }

  /* 텍스트 스타일 (모바일 버전) */
  .info-title {
      font-size: 14px; /* 모바일 화면에서 텍스트 크기 변경 */
  }

  .info-paragraph {
      font-size: 12px; /* 모바일 화면에서 텍스트 크기 변경 */
      width: 100%;
  }
  .loading-text{
    font-size: 12px;
    position: relative;
    left: 12%;
    width: 70%;
  }
  .info-paragraph-1 {
      font-size: 12px; /* 모바일 화면에서 텍스트 크기 변경 */
      color: blue;
  }
  .additional-image-youngrae {
      width: 9%; /* 모바일 화면에 맞게 이미지 크기를 조정합니다. */
      height: auto; /* 모바일 화면에 맞게 이미지 크기를 조정합니다. */
      position: absolute; /* 위치 조정을 위해 position: absolute 사용 */
      left: 12%; /* 오른쪽으로 10% 위치 */
      top: 15%; /* 이미지를 상단에 위치시킵니다. */
      z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
  }
  .additional-image-youngname {
    width: 20%; /* 모바일 화면에 맞게 이미지 크기를 조정합니다. */
    height: auto; /* 모바일 화면에 맞게 이미지 크기를 조정합니다. */
    position: absolute; /* 위치 조정을 위해 position: absolute 사용 */
    left: 6%; /* 오른쪽으로 10% 위치 */
    top: 62%; /* 이미지를 상단에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
  .additional-image {
    width: 20%; /* 모바일 화면에 맞게 이미지 크기를 조정합니다. */
    height: auto; /* 모바일 화면에 맞게 이미지 크기를 조정합니다. */
    position: absolute; /* 위치 조정을 위해 position: absolute 사용 */
    left: 5%; /* 오른쪽으로 10% 위치 */
    top: 10%; /* 이미지를 상단에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-2 {
    width: 6%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 65%; /* 이미지를 상단에 위치시킵니다. */
    left: 83%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-3 {
    width: 5.7%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 65%; /* 이미지를 상단에 위치시킵니다. */
    left: 90%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.additional-image-4 {
    width: 15%; /* 원하는 크기로 조절 */
    height: auto;
    position: absolute;
    top: 82%; /* 이미지를 상단에 위치시킵니다. */
    left: 2%; /* 이미지를 왼쪽에 위치시킵니다. */
    z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
.pagination-image-2 {
  width: 8%; /* 원하는 크기로 조절하세요. */
  height: auto;
  margin: 0 10px; /* 버튼 사이의 간격을 조절하세요. */
  position: absolute;
  top: 80%;
  left: 100%;
  cursor: pointer;
}
.pagination-image-1 {
  width: 8%; /* 원하는 크기로 조절하세요. */
  height: auto;
  margin: 0 10px; /* 버튼 사이의 간격을 조절하세요. */
  position: absolute;
  top: 80%;
  left: 90%;
  cursor: pointer;
}
}
