/* imageStyles.css */
/* 이미지 컨테이너 스타일 */
.image-container {
    position: relative;
    display: inline-block; /* 이미지와 추가 이미지를 인라인 블록 요소로 배치 */
}
.image-description-a {
    display: flex;
    flex-direction: row; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 (선택 사항) */
    gap: 8px; /* 텍스트 간격 조정 (원하는 크기로 조절) */
    font-size: 16px; /* 텍스트 크기 조절 (원하는 크기로 조절) */
    /* font-weight: bold;  */
  }
  
.image-description-c1 {
    color: rgb(149, 154, 7);
    font-size: 1.5vw; /* vw 단위 사용 */
    background-color: black;
    position: absolute;
    top: 87%; /* 이미지 하단 바로 위에 위치 */
    left: 70%; /* 이미지 중앙에 위치 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
    z-index: 6;
}
.image-description-c2 {
    color: rgb(149, 154, 7);
    font-size: 1.5vw;
    background-color: black;
    position: absolute;
    top: 91%; /* 이미지 하단 바로 위에 위치 */
    left: 70%; /* 이미지 중앙에 위치 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
    z-index: 6;
}
.image-description-c3 {
    color: rgb(149, 154, 7);
    font-size: 1.5vw;
    background-color: black;
    position: absolute;
    top: 87%; /* 이미지 하단 바로 위에 위치 */
    left: 30%; /* 이미지 중앙에 위치 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
    z-index: 6;
}
.image-description-c4 {
    color: rgb(149, 154, 7);
    font-size: 1.5vw;
    background-color: black;
    position: absolute;
    top: 91%; /* 이미지 하단 바로 위에 위치 */
    left: 30%; /* 이미지 중앙에 위치 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
    z-index: 6;
}
/* 이미지 컨테이너 내부 스타일 */
.image-overlay {
    position: absolute; /* 이미지 컨테이너 내부 요소의 위치를 조정하기 위해 절대 위치 지정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.image-overlay-2 {
    position: absolute; /* 이미지 컨테이너 내부 요소의 위치를 조정하기 위해 절대 위치 지정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* 기존 이미지 스타일 */
.image-style {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

/* 첫 번째 오버랩 이미지 스타일 */
.overlapping-image-1 {
    width: 4%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 68%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 75%; /* 왼쪽에서 70% 위치에 고정 */

    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */

    z-index: 3;
}

/* 두 번째 오버랩 이미지 스타일 */
.overlapping-image-2 {
    width: 8.2%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 80%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 70%; /* 왼쪽에서 70% 위치에 고정 */
    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
    z-index: 2;
}
.overlapping-image-3 {
    width: 4%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 68%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 35%; /* 왼쪽에서 70% 위치에 고정 */

    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */

    z-index: 3;
}
.overlapping-image-4 {
    width: 9%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 80%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 30%; /* 왼쪽에서 70% 위치에 고정 */
    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
    z-index: 2;
}
.overlapping-image-5 {
    width: 11%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 91%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 29%; /* 왼쪽에서 70% 위치에 고정 */
    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
    z-index: 6;
}
.overlapping-image-6 {
    width: 11%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 94%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 29%; /* 왼쪽에서 70% 위치에 고정 */
    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
    z-index: 6;
}
.overlapping-image-7 {
    width: 11%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 91%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 70%; /* 왼쪽에서 70% 위치에 고정 */
    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
    z-index: 6;
}
.overlapping-image-8 {
    width: 11%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 94%; /* 기존 이미지의 높이의 50% 위치에 고정 */
    left: 70%; /* 왼쪽에서 70% 위치에 고정 */
    transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
    z-index: 6;
}
/* 모바일 화면 스타일 (화면 너비가 768px 이하인 경우) */
@media screen and (max-width: 768px) {
    /* 모바일 버전에서 첫 번째 오버랩 이미지의 위치를 높이의 50%로 조정 */
    .overlapping-image-1 {
        top: 50%;
        width: 45px;
        left: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    /* 모바일 버전에서 두 번째 오버랩 이미지의 위치를 높이의 50%로 조정 */
    .overlapping-image-2 {
        width:13%;
        top: 75%;
        left: 60%;
        right: 70%;
        transform: translateY(-50%);
    }
    .overlapping-image-3 {
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 50%; /* 기존 이미지의 높이의 50% 위치에 고정 */
        left: 35%; /* 왼쪽에서 70% 위치에 고정 */
        transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
        z-index: 3;
    }
    .overlapping-image-4 {
        width: 13%;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 75%; /* 기존 이미지의 높이의 50% 위치에 고정 */
        left: 30%; /* 왼쪽에서 70% 위치에 고정 */
        transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
        z-index: 2;
    }
    .overlapping-image-5 {
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 91%; /* 기존 이미지의 높이의 50% 위치에 고정 */
        left: 29%; /* 왼쪽에서 70% 위치에 고정 */
        transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
        z-index: 6;
    }
    .overlapping-image-6 {
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 96%; /* 기존 이미지의 높이의 50% 위치에 고정 */
        left: 29%; /* 왼쪽에서 70% 위치에 고정 */
        transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
        z-index: 6;
    }
    .overlapping-image-7 {
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 91%; /* 기존 이미지의 높이의 50% 위치에 고정 */
        left: 67%; /* 왼쪽에서 70% 위치에 고정 */
        transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
        z-index: 6;
    }
    .overlapping-image-8 {
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 96%; /* 기존 이미지의 높이의 50% 위치에 고정 */
        left: 67%; /* 왼쪽에서 70% 위치에 고정 */
        transform: translate(-50%, -50%); /* 이미지의 중앙 정렬을 위해 사용 */
        z-index: 6;
    }
    .image-description-c1 {
        color: rgb(149, 154, 7);
        font-size: 12px;
        background-color: black;
        position: absolute;
        top: 85%; /* 이미지 하단 바로 위에 위치 */
        left: 70%; /* 이미지 중앙에 위치 */
        z-index: 6;
    }
    .image-description-c2 {
        color: rgb(149, 154, 7);
        font-size: 12px;
        background-color: black;
        position: absolute;
        top: 90%; /* 이미지 하단 바로 위에 위치 */
        left: 70%; /* 이미지 중앙에 위치 */
        transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
        z-index: 6;
    }
    .image-description-c3 {
        color: rgb(149, 154, 7);
        font-size: 20px;
        background-color: black;
        position: absolute;
        font-size: 12px;
        top: 85%; /* 이미지 하단 바로 위에 위치 */
        left: 30%; /* 이미지 중앙에 위치 */
        transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
        z-index: 6;
    }
    .image-description-c4 {
        color: rgb(149, 154, 7);
        font-size: 12px;
        background-color: black;
        position: absolute;
        top: 90%; /* 이미지 하단 바로 위에 위치 */
        left: 30%; /* 이미지 중앙에 위치 */
        transform: translateX(-50%); /* 가운데 정렬을 위한 위치 조정 */
        z-index: 6;
    }
}
